/* Barra de navegación */
header {
    background-color: grey;
    padding: 10px;
    transition: max-height 0.3s ease;
    position: relative;
    z-index: 10;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.nav-left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-right: 80px;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-links a {
    color: #d3d3d3;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px 20px;
}

.nav-links a:hover {
    color: white;
}

.search-input {
    width: 200px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* Estilo del menú desplegable */
.dropdown-menu {
    width: 100%;
    flex-direction: column;
    background-color: grey;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
}

.d-flex.dropdown-menu {
    background-color: grey;
    max-height: 300px;
}

.dropdown-menu-search {
    width: 90%;
    margin: 0 auto;
    border: 1px solid;
    border-radius: 5px;
}

.dropdown-menu a, .dropdown-menu button {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    background-color: grey;
    border: none;
    margin: 0 auto;
    text-align: left;
    width: 90%;
    padding: 10px 0;
}

.dropdown-menu a:hover, .dropdown-menu button:hover {
    background-color: grey;
}





/* Contenedor principal */
.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* Título principal y carrusel */
.text-center {
    text-align: center;
    margin-top: 20px;
    font-size: 2rem;
    font-weight: bold;
}
h3{
    text-align: center;
}
.carrousel-item {
    display: none;
}

.carrousel-item.active {
    display: block;
}

/* Sidebar */
aside {
    padding: 20px;
}

.sidebar-option {
    display: block;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    color: black;
    text-decoration: none;
}

.sidebar-option:hover {
    background-color: #f0f0f0;
}

.content-rows .col {
    background-color: #f0f0f0;
    text-align: justify;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
}
